[Unit]
Description=Backup of Gitlab repositories

[Service]
Type=oneshot
User=nobody
EnvironmentFile=-/usr/local/etc/gitlab-backup.env
ExecStart=/usr/local/bin/gitlab-backup
